/*global styles*/

body {
    background-color: #c4e2bf;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 5px;

}

header{
    background-color: rgb(138, 174, 149);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    padding: 1px;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

main{
    background-color: #FDF0D5;
    border-radius: 5px;
    border-color: rgb(138, 174, 149);
    padding: 60px;
    margin: 100px;
}


footer{
    background-color: rgb(138, 174, 149);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 10px;
    padding: 10px;
    text-align: center;
}


section{
    border: 1px solid black;
    padding: 5px;
}

button {
    background-color: #FDF0D5;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(138, 174, 149);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: #c4e2bf;
    color: white;
}

.mountains{
    width: 100%;
    height: 100%;
    align-content: center;
}

.me{
    width: 300px;
    height: 300px;
    padding: 4px;
}

/*sections*/

.aboutme-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 190px;
}

.typography-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 20px;
}

.poster-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 20px;
}

.worksheet-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 70px;
}

.reflection-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 20px;
}

/*typography*/

.typo-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.caption {
    font-size: 15px;
    font-style: normal;
    padding: 0 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.typo-item{
    width: 275px;
    height: 275px;
    padding: 10px;  
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}

.typography-group{
    border: 2px solid #c4e2bf;
    width: 295px;
}

/*CARP*/

.section{
   background-color: #c4e2bf;
   display: flex;
   justify-content: space-between;
}

.section img{
   height: 250px;
}

.carp-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 120px;
}

.caption {
    font-size: 15px;
    font-style: normal;
    padding: 0 10px;
    text-align: center;
}

.carpcontainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
    flex-direction: column;
}

.carp-item{
    width: 340px;
    height: 480px;
    padding: 4px; 
    margin-top: 40px;
}

.carp-group{
    border: 2px solid #c4e2bf;
    width: 275px;
}

/*worksheets*/

.worksheet-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.caption {
    font-size: 15px;
    font-style: normal;
    padding: 0 10px;
    text-align: center;
}

.htmlcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    flex-direction: column;
}

.worksheet-item{
    width: 450px;
    height: 300px;
    padding: 4px; 
    margin-top: 20px; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.worksheet-group{
    border: 2px solid #c4e2bf;
    width: 275px;
}

img{
    transition: transform .2s;
    width:50px;
    height:50px;
    margin:0 auto;
}

img:hover{
    transform:scale(1.2);
}
