/*global styles*/

body {
    background-color: #c4e2bf;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 5px;

}

header{
    background-color: rgb(138, 174, 149);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    padding: 1px;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

main{
    background-color: #FDF0D5;
    border-radius: 5px;
    border-color: rgb(138, 174, 149);
    padding: 40px;
    margin: 5px;
}


footer{
    background-color: rgb(138, 174, 149);
}


section{
    border: 1px solid black;
    padding: 5px;
}

button {
    background-color: #FDF0D5;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: #c4e2bf;
    color: white;
}

.mountains{
    width: 100%;
    align-content: center;
}

.typography-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.poster-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.worksheet-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.reflection-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
