/*global styles*/

body {
    background-color: #c4e2bf;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 5px;

}

header{
    background-color: rgb(138, 174, 149);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    padding: 1px;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

main{
    background-color: #FDF0D5;
    border-radius: 5px;
    border-color: rgb(138, 174, 149);
    padding: 60px;
    margin: 20px;
}


footer{
    background-color: rgb(138, 174, 149);
}


section{
    border: 1px solid black;
    padding: 5px;
}

button {
    background-color: #FDF0D5;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: #c4e2bf;
    color: white;
}

.mountains{
    width: 100%;
    align-content: center;
}

/*sections*/

.typography-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 20px;
}

.poster-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.worksheet-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.reflection-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

/*typography*/

.typo-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.caption {
    font-size: 15px;
    font-style: normal;
    padding: 0 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.typo-item{
    width: 275px;
    height: 275px;
    padding: 4px;  
}

.typography-group{
    border: 2px solid #c4e2bf;
    width: 275px;
}

/*CARP*/

.carp-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.caption {
    font-size: 15px;
    font-style: normal;
    padding: 0 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.carp-item{
    width: 280px;
    height: 390px;
    padding: 4px; 
}

.carp-group{
    border: 2px solid #c4e2bf;
    width: 275px;
}